.part1{
    text-align: center;
    background-color: rgb(209, 192, 37);}
.part2{  
    text-align: center;
    background-color: brown;}
.part3{ 
    text-align: center;
    background-color: rgb(134, 185, 230);}

body{ background-color: rgb(155, 115, 192);}